<!-- <p>hrapplication works!</p>
<p>hremployeeprofile works!</p>
<script>
    $(document).ready(function() {
      $('table.display').DataTable();
  } );  
  </script>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>username</th>
            <th>application status</th>
            <th> operations </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.id}}</td>
            <td>{{item.username}}</td>
            <td>{{item.status}}</td>
            <td><button>approve</button><button>reject</button></td>
        </tr>
    </tbody>
</table> -->