<div [ngClass]="'centerDiv'">
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
      <label>
        username:
        <input type="text" name="userName" [(ngModel)]="userName">
      </label>
      <br>
      <label>
        password:
        <input type="password" name="password" [(ngModel)]="password" id="pw1">
      </label>
      <br>
      <label>
        confirm password:
        <input type="password" name="confirm" id="pw2" onkeyup="validate()">
      </label>
      <br>
      <button disabled class="btn btn-dark" id="button">next</button>
    </form>
  </div>
  

 