<div [ngClass]="'centerDiv'">
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
      <label>
        username:
        <input type="text" name="userName" [(ngModel)]="userName">
      </label>
      <br>
      <label>
        password:
        <input type="password" name="password" [(ngModel)]="password" id="pw1">
      </label>
      <br>
      <label>
        confirm password:
        <input type="password" name="confirm" id="pw2" onkeyup="validate()">
      </label>
      <br>
      <button disabled class="btn btn-dark" id="button">next</button>
    </form>

    <script>
      function validate() {
      var pw1 = document.getElementById("pw1").value;
      var pw2 = document.getElementById("pw2").value;
      
      if(pw1 == pw2) {
        console.log("success");
      document.getElementById("button").disabled = false;
      }
      else {
        console.log("unsuccess");
      document.getElementById("button").disabled = true;
       }
      }
      </script>
  </div>
  

 