<!-- <p>facility-comment works!</p>

<div>Title：{{}}</div>
<div>Description：{{}}</div>
<div>Create by：{{}}</div>
<div>Report Date{{}}</div>
<div>Status{{}}</div>
<div>
    Comment:
    <ul>
        <li *ngFor="let item of comments">
            {{item.content}}
            {{item.createby}}
            {{item.date}}
        </li>
    </ul>
</div>

<div>
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
        <label>
          Comment:
          <input type="text" name="comment" [(ngModel)]="comment">
        </label>
        <button disabled class="btn btn-dark" id="button">Add Comment</button>
      </form>
</div> -->