
<div id="container1">
    <div class="card">
    <label>
     Name:
    <p id="edit"><b> testname</b></p>
    </label>
    <br>
    <label>
        PreferName:
       <p id="edit1"><b> testPname</b></p>
    </label>
    <br>
    <label>
        SSN:
       <p id="edit2"><b> testSSN</b></p>
       </label>
    <br>
    <label>
        date of birth:
        <input type="date" name="bday"[(ngModel)]="bday" id="bd" disabled>
      </label>
    <br>
    <label>
         avatar
        <input type="file" name="filedata"[(ngModel)]="file" id="file" disabled>
    </label>
    <button type="submit" id="edit-button">Edit</button>
    <button type="submit" id="end-editing">Done</button>
</div>
<div class="card">
    <label>
        Primary Address:
       <p id="edit3"><b> Primary Address</b></p>
       </label>
    <br>
    <label>
        Secondary Address:
       <p id="edit4"><b> Secondary Address</b></p>
       </label>
       <button type="submit" id="edit-button">Edit</button>
       <button type="submit" id="end-editing">Done</button>
    </div>
    <div class="card">
    <label>
        Personal Email:
       <p id="edit5"><b> Personal Email</b></p>
       </label>
    <br>
    <label>
        Work Email:
       <p id="edit6"><b> Work Email</b></p>
       </label>
    <br>
    <label>
        Cellphone,:
       <p id="edit7"><b> Cellphone</b></p>
       </label>
    <br>
    <label>
        Work phone:
       <p id="edit8"><b> Work phone</b></p>
       </label>
       <button type="submit" id="edit-button">Edit</button>
       <button type="submit" id="end-editing">Done</button>
</div>
<div class="card">
    <label>
        Work Authorization
       <input type="file" name="workauth"[(ngModel)]="workauth" id="workauth" disabled>
   </label>
   <br>
   <label>
    Work Authorization Start Date,:
    <input type="date" name="wsd"[(ngModel)]="wsd" id="wsd" disabled>
  </label>
    <br>
    <label>
    Work Authorization End Date:
    <input type="date" name="wed"[(ngModel)]="wed" id="wed" disabled>
   </label>
    <br>
    <label>
        Employment Start Date:
        <input type="date" name="esd"[(ngModel)]="esd" id="esd" disabled>
    </label>
    <br>
    <label>
        Employment End Date:
        <input type="date" name="eed"[(ngModel)]="eed" id="eed" disabled>
    </label>
    <br>
    <label>
        Title:
       <p id="edit9"><b> Title</b></p>
       </label>
       <button type="submit" id="edit-button">Edit</button>
       <button type="submit" id="end-editing">Done</button>
    </div>
    <div class="card">
    <label>
        Emergency Contact Full Name:
       <p id="edit10"><b> Full Name</b></p>
       </label>
    <br>
    <label>
        Emergency Contact Phone:
       <p id="edit11"><b> Phone</b></p>
       </label>
    <br>
    <label>
        Emergency Contact Address:
       <p id="edit12"><b> Address</b></p>
       </label>
       <button type="submit" id="edit-button">Edit</button>
       <button type="submit" id="end-editing">Done</button>
    </div>
   


</div>