<div>
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
      <label>
        Your Email:
        <input type="email" name="email" [(ngModel)]="email">
      </label>
      <br>
      <label>
        Please Upload your avatar here
        <input type="file" name="filedata"[(ngModel)]="file">
      </label>
      <br>
      <label>
        First Name
        <input type="text" name="firstName"[(ngModel)]="firstName">
      </label>
      <br>
      <label>
        Last Name
        <input type="text" name="lastName"[(ngModel)]="lastName">
      </label>
      <br>
      <label>
        Prefer Name
        <input type="text" name="preferName"[(ngModel)]="preferName">
      </label>
      <br>
      <label>
        Cell Phone
        <input type="tel" name="telName"[(ngModel)]="telName">
      </label>
      <br>
      <label>
        SSN
        <input type="text" name="ssn"[(ngModel)]="ssn">
      </label>
      <br>
      <label>
        date of birth:
        <input type="date" name="bday"[(ngModel)]="bday">
      </label>
      <br>
      <label>
        gender:
        <input type="radio" name="gender" value="female"[(ngModel)]="gender"> female
        <input type="radio" name="gender" value="male"[(ngModel)]="gender"> male<br>
      </label>
      <br>
      <button>Submit</button>
    </form>
  </div>
  
