<div [ngClass]="'centerDiv'" class="container">
    <div class="row form-group" >
        <form #myForm="ngForm">
    <div class="row form-group" >
        <div class="form-group" >
        <h1 >Visa Status Management</h1>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-8 ">
        *Please upload a copy of your OPT STEM EAD
        </div>
      </div>
      <hr>
       <div class="row form-group" >
      <div class="col-sm-6 ">
          <input type="file" class="fas fa-upload" (change)="upload($event, currentStatus)" accept=".pdf">
      <a >upload the OPT STEM EAD 
    </a>
      </div>
      <div class="col-sm-6 ">
        <button class = "btn btn-dark" (click)="Next()">Next</button>
    </div>
</div>
      <hr>
      <div class="row form-group" >
        <div class="col-sm-6 "><button class = "btn btn-dark" (click)="showFunc()">Show all of your uploaded files</button></div>
        <div class="col-sm-6 "><button class = "btn btn-dark" (click)="hideFunc()">Hide all of your uploaded files</button></div>
    </div>
    <div *ngIf="show == true">
        <ng-container *ngFor="
        let document of documentList;
        let i = index;"; >
        <div class = "row form-group">
            <div class="col-sm-6 ">Document Name: {{document.title}}</div>
            <div class="col-sm-6 ">Required: {{document.required}}</div>
        </div>
        <br>
        </ng-container>
        </div>
    </form>
    </div>
    </div>